@model ToucanTechApplication.Models.School

@{
    ViewBag.Title = "Details";
}

<h2>School Details</h2>

<div>
    <!--<h4>School</h4>-->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SchoolID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
